%h2.welcome.center GitFake

.jumbotron
  %img{src: "/assets/GitHub-Mark.png", class: "image_center resize_image"}
  %h3{id: "login", class: "center"}
    =link_to "Log in with your Github account", "/auth/github"
